<html>
  <head>
    <title>
      AlphaBLog Home
    </title>
  </head>
  <body>
    <div>
      <h2>ALPHABLOG</h2>
      <ul>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Articles", articles_path %></li>

      </ul>
    </div>
    

    
    
  </body>
</html>