<html>
  <head>
    <title>
       Pages
       
    </title>
  </head>
  <body>
    <div>
      <h2>ALPHABLOG</h2>
      <ul>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "About", about_path %></li>

      </ul>
    </div>
    <h1>THis is the pages/index page for the alphablog</h1>
    <%= image_tag('bg_pic1.jpg')  %>
    <p>THis is where the homepage text goes. </p>
  </body>
</html>