
<div class="container">
  <footer>
    <small>Alpha Blog &copy; 2017 This is the Alpha Blog website by 
           <a href="http://www.google.com">The Author</a>
    </small>
    <nav>
      <ul>
        <li>
          <%= link_to "About", about_path %>
        </li>
      </ul>
    </nav>
  </footer>
</div>
